@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Noto+Sans+TC:wght@300;400;500&display=swap');
html, body {
    font-family: 'Krona One', sans-serif !important;
    background-color: #1D1D21 !important;
    touch-action: manipulation;
    color: #F4F4F4 !important;
    padding: 25px;
    text-align: center;
}

.emphasis-text {
    color: #D42B2B;
}

#header-logo {
    margin: 5px;
}

#description-header {
    font-size: 1.3em;
    display: block;
}

#about-the-event-labeler {
    margin-top: 10px;
    padding: 25px;
}

#videos {
    position: relative;
    height: 100%;
    margin-bottom: 30px;
}

#canvas {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid red;
    border-radius: 10px;
    z-index: -1;
}

.button-div {
    border: 1px solid #F4F4F4;
    border-radius: 10px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px;
}

.canvas-control-button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    display: block;
    cursor: pointer;
}

.desktop-button {
    display: none;
    cursor: pointer;
}

#analysis-video {
    display: inline;
    border: 1px solid rgb(222, 222, 222, 0.5);
    border-radius: 10px;
}

#video-container {
    display: flex;
    align-items: center;
}

#user-video {
    border: 1px solid rgb(222, 222, 222, 0.5);
    border-radius: 10px;
    display: none;
}

iframe, #user-video {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#video-type-options {
    display: block;
}

#upload-from-youtube-button, #upload-from-desktop-button, .canvas-control-button {
    background-color: #F4F4F4;
    text-align: center;
    font-size: 0.75em;
    padding-left: 3px;
    padding-right: 3px;
}

#upload-from-youtube-button, #upload-from-desktop-button, .canvas-control-button, #paste-from-youtube-form, #paste-from-youtube-submit {
    color: #D42B2B;
    max-width: 85%;
    border-radius: 5px;
    border: 1px solid #D42B2B;
}

#upload-from-youtube-button:hover, #upload-from-desktop-button:hover, .canvas-control-button:hover, #paste-from-youtube-submit:hover, #paste-from-youtube-submit:focus {
    cursor: pointer;
    color: #F4F4F4;
    background-color: #D42B2B;
}

#paste-from-youtube-section {
    display: none;
    font-size: 0.7em;
}

#video-type-options input {
    margin: 10px;
}

#footer {
    margin-top: 35px;
}

#instructions {
    margin-top: 0px;
    margin-bottom: 25px;
}

#youtube-instructions-list, #desktop-instructions-list {
    display: none;
    text-align: left;
}

li {
    margin: 10px;
    font-size: 0.7em;
}

@media (max-width: 767.98px) {
    #instructions, #youtube-instructions, #desktop-instructions {
        text-align: center;
    }
}